@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Pacifico&display=swap');


* {
    margin: 0;
    padding: 0;
}


/*------NAV-----*/

nav {
    background-color: #EBECF1;
}

.nav_logo {
    color: #206A5D;
    font-family: 'Krona One', sans-serif;
    font-size: 40px;
}

.nav_logo:hover {
    color: #206A5D;
}

.nav_link_style {
    color: #1F4068;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-right: 30px;
}

.nav_contact_style {
    color: #206A5D;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-right: 10px;
    border: 1px;
}

/*------Top Section------*/

.top_wrapper {
    background-color: #1F4068;
}

.text_icon_style {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
}

.text_icon_margin {
    margin-left: 5px;
}

.top_button {
    background-color: #206A5D;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 25px;
    border-radius: 5%;
    border-width: 4px;
    border-color: #206A5D;
    padding: 4px;
    transition: color 0.3s ease;
}

.top_button:hover {
    color: #1F4068;
}

.button_wrapper {
    text-align: center;
    margin: 20px 0px;
}

/*------Section 2 ------*/

.about_wrapper {
    margin-top: 50px;
}

.h2_styling {
    color: #206A5D;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.our_mission_text {
    font-family: 'Krona One', sans-serif;
    color: #1F4068;
    font-size: 25px;
}

.about_text {
    font-family: 'Lato', sans-serif;
    color: #1F4068;
    font-weight: 600;
    font-size: 20px;
}

/*------testimonals------*/

.testimonals_wrapper {
    margin-top: 50px;
}

.testimonals_icon {
    font-size: 90px;
    color: #1F4068;
}

.testimonals_name {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.testimonals_text {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: #1F4068;
}

/*------footer wrapper ------*/

.footer_wrapper {
    background-color: #1F4068;
}

.copy_styling {
    font-size: 15px;
    font-family: 'Krona One';
    color: white;
    margin-top: 20px;
}

.social_icon {
    margin: 10px 0;
    font-size: 40px;
    color: white;
    transition: color 0.3s ease;
}
.social_icon:hover {
    color: #206A5D;
}