/*------Google Fonts------*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Pacifico&display=swap');

/*------Start Of Global Styling------*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBECF1;
    color: #1F4068;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

.h2_styling {
    color: #206A5D;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.h4_styling {
    color: #206A5D;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 40px;
    padding: 10px;
}
/*------End Of Global Syling

/*------Start Of Nav Styling-----*/
nav {
    background-color: #EBECF1;
}

.nav_logo {
    color: #206A5D;
    font-family: 'Krona One', sans-serif;
    font-size: 40px;
}

.nav_logo:hover {
    color: #206A5D;
}

.nav_link_style {
    color: #1F4068;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-right: 30px;
}

.nav_link_style:hover {
    color: #206A5D;
    font-size: 27px;
}

.nav_contact_style {
    color: #206A5D;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-right: 10px;
    border: 1px;
}
/*------End Of Nav Styling*/

/*------Start Of index.html Styling------*/
/*------Start Of Top Images / Words------*/
.top_wrapper {
    background-color: #1F4068;
}

.text_icon_style {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
}

.text_icon_margin {
    margin-left: 5px;
}

.button_wrapper {
    text-align: center;
    margin: 20px 0px;
}
/*------End Of Top Images / Words------*/
/*------Start Of Mission And About------*/
.about_wrapper {
    margin-top: 50px;
}

.about_heading_size {
    font-size: 40px;
}

.our_mission_text {
    font-family: 'Krona One', sans-serif;
    color: #1F4068;
    font-size: 25px;
}

.about_text {
    font-family: 'Lato', sans-serif;
    color: #1F4068;
    font-weight: 600;
    font-size: 20px;
}
/*------End Of Mission And About------*/
/*------Start Of Compare Packages------*/
.packages_container {
    margin-top: 40px;
}

.packages_header {
    color: #206A5D;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

.premium_color  {
    color: darkgoldenrod;
}

.package_text {
    color: #1F4068;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}
/*------End Of Compare Packages------*/
/*------Start Of Testimonals------*/
.testimonals_wrapper {
    margin-top: 50px;
}

.image_container {
    border-radius: 50%;
    width: 60%;
}

.testimonals_name {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.testimonals_text {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: #1F4068;
}
/*------End Of Testimonals------*/
/*------End Of index.html Styling-----*/

/*------Start Of faq.html Styling------*/
.faq_header {
    font-family: 'Krona One', sans-serif;
    color: #206A5D;
    font-size: 25px;
    letter-spacing: 3px;
}

.faq_text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #1F4068;
    font-weight: 600;
}

.faq_wrapper {
    margin-bottom: 40px;
}
/*------End Of faq.html Styling------*/

/*------Start Of gallery.html Styling------*/
#gallery_contact_link_margin {
    margin: 20px 0;
}

.card_title {
    font-family: 'Krona One', sans-serif;
    color: #1F4068;
    font-size: 25px;
}

.card_margin {
    margin-bottom: 10px;
}

.gallery_text_styling {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 20px;
}

.gallery_contact_link {
    background-color: #206A5D;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 25px;
    border-width: 4px;
    border-color: #206A5D;
    padding: 4px;
    transition: color 0.3s ease;
    border-radius: 5px;
}

.gallery_button:hover {
    color: #1F4068;
}
/*------End Of gallery.html Styling------*/

/*------Start Of contact.html Styling------*/
.contact_header {
    font-family: 'Krona One', sans-serif;
    color: #206A5D;
    font-size: 25px;
    margin-bottom: 10px;
}

.contact_text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #1F4068;
    font-weight: 600;
    margin-top: 5px;
}
.contact_time {
    color: #206A5D;
}

.submit_btn {
    color: white;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #1F4068;
}

.submit_btn:hover {
    background-color: #206A5D;
    color: white; 
}

.form-input {
    height: 40px;
}

.contact_bottom_wrapper {
    margin-bottom: 20px;
}
/*------End Of contact.html Styling------*/

/*------Start Of Footer Styling------*/

.footer_wrapper {
    background-color: #1F4068;
}

.copy_styling {
    font-size: 15px;
    font-family: 'Krona One';
    color: white;
    margin-top: 20px;
}

.social_icon {
    margin: 10px 0;
    font-size: 40px;
    color: white;
    transition: color 0.3s ease;
}
.social_icon:hover {
    color: #206A5D;
}
/*------End Of Footer Styling------*/